.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4000f;
    height: 50px;
}

.footer__address {
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
